


    .tomato{
   
        position: absolute;
        left: 100px;
        animation: tomato 4s linear infinite;
    }
    @keyframes tomato {
        0%{
           
            top: 50px;
           
            opacity: 0;
            
        }
        50%{
           
            width: 200px;
            opacity: 0.5;
            transform: translateX(500px);
           
        }
        100%{
            bottom: 100%;
            transform: translatex(900px);
            opacity: 1;
        }
       
    }
    .tomato2{
       
        position: absolute;
        right: 100px;
        animation: tomato2 4s linear infinite;
    }
    @keyframes tomato2 {
        0%{
           
            top: 50px;
           
            opacity: 0;
            
        }
        50%{
          
            width: 200px;
            opacity: 0.5;
            transform: translateX(-500px);
           
        }
        100%{
            bottom: 100%;
            transform: translatex(-900px);
            opacity: 1;
        }
       
    }
    
   @media screen and (max-width:640px) {
    .tomato{
   
        position: absolute;
        left: 20px;
        animation: tomato 3s linear infinite;
    }

    @keyframes tomato {
        0%{
           
            top: 300px;
            
            opacity: 0;
           
            
        }
        50%{
            
            width: 100px;
            opacity: 0.5;
            transform: translateX(120px);
           
        }
        100%{
            bottom: 100%;
            transform: translatex(120px);
            opacity: 1;
        }
       
    }
    .tomato2{
   
        position: absolute;
        right: 20px;
        animation: tomato2 3s linear infinite;
    }
    @keyframes tomato2 {
        
        0%{
           
            top: 300px;
            
            opacity: 0;
            
        }
        50%{
            
            width: 100px;
            opacity: 0.5;
            transform: translateX(-120px);
           
        }
        100%{
            bottom: 100%;
            transform: translateX(-120px);
            opacity: 1;
        }
       
    }
    
   }
