


    .tomato{
   
        position: absolute;
        left: 50px;
        animation: tomato 4s linear infinite;
    }
    @keyframes tomato {
        0%{
            /* bottom: 60%; */
            top: 50px;
            /* bottom: -10%; */
            opacity: 0;
            
        }
        50%{
            /* bottom: 100%; */
            width: 200px;
            opacity: 0.5;
            transform: translateX(500px);
           
        }
        100%{
            bottom: 100%;
            transform: translatex(900px);
            opacity: 1;
        }
       
    }
    .tomato2{
       
        position: absolute;
        right: 50px;
        animation: tomato2 4s linear infinite;
    }
    @keyframes tomato2 {
        0%{
            /* bottom: 60%; */
            top: 50px;
            /* bottom: -10%; */
            opacity: 0;
            
        }
        50%{
            /* bottom: 100%; */
            width: 200px;
            opacity: 0.5;
            transform: translateX(-500px);
           
        }
        100%{
            bottom: 100%;
            transform: translatex(-900px);
            opacity: 1;
        }
       
    }
    

